.wrapper_card { 
  display: flex;
  flex-wrap: wrap;
  row-gap: 25px;
}

.button_nav {
  height: 43px;
  width: 93px;
  border-radius: 0.25rem;
  background-color: var(--background-button);
}

.button_nav:hover {
  transition: 100ms;
  background-color: var(--background-button-hover);
}

.count_page {
  align-self: center;
  font-size: 0.8rem;
  color: var(--text-secondary)
}

@media(min-width: 768px) {
  .wrapper_card {
    column-gap: 25px
  }

}

@media(min-width: 1024px) {

}